*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$dark-torqoise: #0fd8e6;
$links:#3d6aeb;
$maximum-green-blue: #0cb4c0;
$white: #ecfdfe;
$gray: #b1b1b1;
$star-blue: #007bb8;
$black-forga: #011213;
$transpraent-black: #0000007c;
$transpraent-white: #ffffff4f;
$bg-color-primary:#151520;
$font-sans:Inter,sans-serif;
:root {
color:$white;
font-family:$font-sans;
}


body {
  background-color:$bg-color-primary;
  transition: all linear 500ms;
}
html {
  scroll-behavior: smooth;
}

.logo {
  text-decoration: none;
  display: block;
  letter-spacing: 2px;
  margin: 12px 0;
  text-align:center;
  font-size:1rem
}
a{
  text-decoration:none;
  color:$links;
}
.search-and-logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 12px 0;
  position: relative;
  width: 100%;
}
i {
  cursor: pointer;
  font-size: 1.2rem;
}

.search-input {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  i.fas.fa-search {
    position: absolute;
    color: $links;
    right: 10%;
  }
  i.fas.fa-times {
    position: absolute;
    height: auto;
    right: 7%;
    color: gray;
  }
  input {
    width: 90%;
    margin: auto;
    padding: 1rem 2em;  
  border:2px solid $links;
    height: 7vh;
    border-image-slice: 1;
    position: relative;
    border-radius:5px;
    &:hover,
    &:focus {
      box-shadow: 1px 1px 1px 1px $transpraent-black;
    }
  }
}

.products-nav {
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.products-icon {
  display: flex;
  width: 75%;
  list-style-type: none;
  font-size: 1.1rem;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  i {
    margin: 0 5px;
    font-size: 1.3rem;
    display: block;
  }
  a {
    text-decoration: none;
  }
}

@keyframes logo {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.nothing {
  display: none;
}
@media (max-width: 768px) {
  .search-and-logo {
    height: 20vh;
    display: block;
    margin: auto;
  }
  .logo {
    margin: auto;
    width: 39%;
  }
  .user-and-bar {
    top: 0;
    right: 4%;
    position: absolute;
    width: 90%;
    justify-content: space-between;
    display: flex;
  }
  .search-input {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  body {
    overflow-x: hidden;
  }
  .search-input {
    input {
      flex-basis: 100;
      margin: 0;
      padding: 1em;
      display: block;
    }
  }
  .products-icon {
    width: 100%;
    font-size: 1rem;
  }
  .search-and-logo {
    height: 25vh;
  }

  .logo {
    text-align: center;
    z-index: 999999;
  }
  .search-input i.fas.fa-times {
    right: 5%;
  }
  .search-input input {
    width: 98%;
  }
}

.wiki-result {
  display: block;
  padding: 2em;

  min-height: 80vh;
  width: 100%;
  margin: 12px 0;
  text-align: justify;
  a {
    font-size: 1.5rem;
  }

  p {
    margin: 12px 0;
    background: $transpraent-white;
    box-shadow: 1px 1px 7px $transpraent-black;
    padding: 2em;
  }
  h2 {
    font-size: 1.5rem;
    margin: 5px 0;
  }
}

.wiki-article {
  box-shadow: 1px 1px 7px $transpraent-black;
  background: $transpraent-white;
}

.wiki-h1 {
  text-align: center;
  margin: 12px 0;
  text-transform: uppercase;
}

.img-usr {
  width: 40px;
  margin: 5px 0;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  right: 10%;
  top: 5%;
}

.dark-mode {
  width: 30px;
  background: #f5af19;
  cursor: pointer;
}
.color-change {
  background: #ecfdfe;
}

.bg-change {
  color: white;
  background: #000000;
}
